.click{
    margin-left: 45%;
    padding: 10px 10px;
    font-size: 23px;
    font-weight: 700;
}
.removebtn{
    margin-left: 43%;
    margin-top: 16px;
    padding: 10px 10px;
    font-size: 23px;
    font-weight: 700;
}
.map{
    height: 100%;
    width: 100%;
    margin-left: 10%;
    margin-top: 20px;
}